repos:
- repo: https://github.com/psf/black
  rev: 21.5b2
  hooks:
  - id: black

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 5.8.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v2.19.3
  hooks:
  - id: pyupgrade
    args: ["--py36-plus"]

{%- if cookiecutter.project_type == "setuptools" or cookiecutter.project_type == "pybind11" %}

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.17.0
  hooks:
  - id: setup-cfg-fmt

{%- endif %}

- repo: https://github.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    exclude: docs/conf.py
    additional_dependencies: [flake8-bugbear, flake8-print]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.902
  hooks:
  - id: mypy
    {%- if cookiecutter.project_type == "trampolim" %}
    files: {{ cookiecutter.project_name }}
    {%- else %}
    files: src
    {%- endif %}

{%- if cookiecutter.project_type == "setuptools" or cookiecutter.project_type == "pybind11" %}

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.46"
  hooks:
  - id: check-manifest
    stages: [manual]
{%- endif %}
