[build-system]
{%- if cookiecutter.project_type == "trampolim" %}
requires = ["trampolim>=0.1.0"]
build-backend = "trampolim"
{%- elif cookiecutter.project_type == "whey" %}
requires = ["whey>=0.0.17"]
build-backend = "whey"
{%- elif cookiecutter.project_type == "pdm" %}
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"
{%- elif cookiecutter.project_type == "maturin" %}
requires = ["maturin>=0.12"]
build-backend = "maturin"
{%- elif cookiecutter.project_type == "hatch" %}
requires = ["hatchling"]
build-backend = "hatchling.build"
{%- elif cookiecutter.project_type == "setuptools621" %}
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
{%- elif cookiecutter.project_type == "flit" %}
requires = ["flit_core >=3.4"]
build-backend = "flit_core.buildapi"
{%- elif cookiecutter.project_type == "setuptools" %}
requires = ["setuptools>=42", "setuptools_scm[toml]>=3.4"]
build-backend = "setuptools.build_meta"
{%- elif cookiecutter.project_type == "pybind11" %}
requires = ["setuptools>=42", "setuptools_scm[toml]>=3.4", "pybind11"]
build-backend = "setuptools.build_meta"
{%- elif cookiecutter.project_type == "skbuild"  %}
requires = ["pybind11", "scikit-build-core"]
build-backend = "scikit_build_core.build"
{%- elif cookiecutter.project_type == "mesonpy"  %}
requires = ["pybind11", "meson-python"]
build-backend = "mesonpy"
{%- elif cookiecutter.project_type == "poetry" %}
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
{%- endif %}


{%- if cookiecutter.project_type in ["setuptools", "pybind11"] %}
[tool.setuptools_scm]
write_to = "src/{{ cookiecutter.project_name.replace("-", "_") }}/_version.py"


[tool.check-manifest]
ignore = [
  ".github/**",
  "docs/**",
  ".pre-commit-config.yaml",
  ".readthedocs.yml",
  "src/*/_version.py",
  "noxfile.py",
]

{%- elif cookiecutter.project_type == "poetry" %}
[tool.poetry]
name = "{{ cookiecutter.project_name.replace("-", "_") }}"
version = "0.1.0"
authors = [
  "{{ cookiecutter.full_name }} <{{ cookiecutter.email }}>",
]
{%- if cookiecutter.org == "Scikit-HEP" %}
maintainers = [
  "The Scikit-HEP admins <scikit-hep-admins@googlegroups.com>",
]
{%- endif %}
homepage = "{{ cookiecutter.url }}"
repository = "{{ cookiecutter.url }}"
{%- if cookiecutter.license == "BSD" %}
license = "BSD-3-Clause"
{%- elif cookiecutter.license == "Apache" %}
license = "Apache-2.0"
{%- elif cookiecutter.license == "MIT" %}
license = "MIT"
{%- endif %}
description = "{{ cookiecutter.project_short_description }}"
readme = "README.md"

classifiers = [
  "Development Status :: 1 - Planning",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Scientific/Engineering",
  "Typing :: Typed",
]

[tool.poetry.dependencies]
python = ">=3.7"
typing_extensions = { version = ">=3.7", python = "<3.8" }

pytest = { version = ">=6", optional = true }
pytest-cov = { version = ">=3", optional = true }
sphinx = { version = "^4.0", optional = true }
sphinx_book_theme = { version = ">=0.1.0", optional = true }
sphinx_copybutton = { version = ">=0.3.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = ">= 6"
pytest-cov = ">= 3"

[tool.poetry.extras]
test = ["pytest", "pytest-cov"]
dev = ["pytest", "pytest-cov"]
docs = [
  "sphinx",
  "sphinx-book-theme",
  "sphinx_copybutton",
]


{%- else %}
[project]
name = "{{ cookiecutter.project_name.replace("-", "_") }}"
{%- if cookiecutter.project_type not in ["trampolim", "flit", "hatch"] %}
version = "0.1.0"
{%- endif %}
authors = [
  { name = "{{ cookiecutter.full_name }}", email = "{{ cookiecutter.email }}" },
]
{%- if cookiecutter.org == "Scikit-HEP" %}
maintainers = [
  { name = "The Scikit-HEP admins", email = "scikit-hep-admins@googlegroups.com" },
]
{%- endif %}
description = "{{ cookiecutter.project_short_description }}"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
  "Development Status :: 1 - Planning",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
{%- if cookiecutter.license == "BSD" %}
  "License :: OSI Approved :: BSD License",
{%- elif cookiecutter.license == "Apache" %}
  "License :: OSI Approved :: Apache Software License",
{%- elif cookiecutter.license == "MIT" %}
  "License :: OSI Approved :: MIT License",
{%- endif %}
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Scientific/Engineering",
  "Typing :: Typed",
]
{%- if cookiecutter.project_type in ["trampolim", "flit", "hatch"] %}
dynamic = ["version"]
{%- endif %}
dependencies = [
  "typing_extensions >=3.7; python_version<'3.8'",
]

[project.optional-dependencies]
test = [
  "pytest >=6",
  "pytest-cov >=3",
]
dev = [
  "pytest >=6",
  "pytest-cov >=3",
]
docs = [
  "Sphinx>=4.0",
  "myst_parser>=0.13",
  "sphinx-book-theme>=0.1.0",
  "sphinx_copybutton",
]

[project.urls]
Homepage = "{{ cookiecutter.url }}"
"Bug Tracker" = "{{ cookiecutter.url }}/issues"
Discussions = "{{ cookiecutter.url }}/discussions"
Changelog = "{{ cookiecutter.url }}/releases"
{%- endif %}


{%- if cookiecutter.project_type == "skbuild" %}
[tool.scikit-build]
minimum-version = "0.2"
build-dir = "build/{cache_tag}"
{%- elif cookiecutter.project_type == "whey" %}
[tool.whey]
source-dir = "src"
{%- elif cookiecutter.project_type == "trampolim" %}
[tool.trampolim]
module-location = "src"
{%- elif cookiecutter.project_type == "hatch" %}
[tool.hatch]
version.path = "src/{{ cookiecutter.project_name.replace("-", "_")  }}/__init__.py"
envs.default.dependencies = [
  "pytest",
  "pytest-cov",
]
{%- elif cookiecutter.project_type == "pdm" %}
[tool.pdm.dev-dependencies]
devtest = ["pytest", "pytest-cov"]
{%- endif %}


[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["-ra", "--showlocals", "--strict-markers", "--strict-config"]
xfail_strict = true
filterwarnings = ["error"]
log_cli_level = "INFO"
testpaths = [
  "tests",
]


[tool.mypy]
files = "src"
python_version = "3.7"
warn_unused_configs = true
strict = true
show_error_codes = true
enable_error_code = ["ignore-without-code", "redundant-expr", "truthy-bool"]
warn_unreachable = true


[tool.ruff]
select = [
  "E", "F", "W", # flake8
  "B", "B904",   # flake8-bugbear
  "I",           # isort
  "ARG",         # flake8-unused-arguments
  "C4",          # flake8-comprehensions
  "EM",          # flake8-errmsg
  "ICN",         # flake8-import-conventions
  "ISC",         # flake8-implicit-str-concat
  "G",           # flake8-logging-format
  "PGH",         # pygrep-hooks
  "PIE",         # flake8-pie
  "PL",          # pylint
  "PT",          # flake8-pytest-style
  "PTH",         # flake8-use-pathlib
  "RET",         # flake8-return
  "RUF",         # Ruff-specific
  "SIM",         # flake8-simplify
  "T20",         # flake8-print
  "UP",          # pyupgrade
  "YTT",         # flake8-2020
  "EXE",         # flake8-executable
  "NPY",         # NumPy specific rules
  "PD",          # pandas-vet
]
extend-ignore = [
  "PLR",    # Design related pylint codes
  "E501",   # Line too long
  "PT004",  # Use underscore for non-returning fixture (use usefixture instead)
]
target-version = "py37"
typing-modules = ["{{ cookiecutter.project_name.replace("-", "_") }}._compat.typing"]
src = ["src"]
unfixable = [
  "T20",  # Removes print statements
  "F841", # Removes unused variables
]
exclude = []
flake8-unused-arguments.ignore-variadic-names = true
isort.required-imports = ["from __future__ import annotations"]

[tool.ruff.per-file-ignores]
"tests/**" = ["T20"]
"noxfile.py" = ["T20"]


[tool.pylint]
py-version = "3.7"
ignore-paths= ["src/{{ cookiecutter.project_name.replace("-", "_") }}/_version.py"]
reports.output-format = "colorized"
similarities.ignore-imports = "yes"
messages_control.disable = [
  "design",
  "fixme",
  "line-too-long",
  "missing-module-docstring",
  "wrong-import-position",
]
