[build-system]
{%- if cookiecutter.backend == "trampolim" %}
requires = ["trampolim>=0.1.0"]
build-backend = "trampolim"
{%- elif cookiecutter.backend == "whey" %}
requires = ["whey>=0.0.17"]
build-backend = "whey"
{%- elif cookiecutter.backend == "pdm" %}
requires = ["pdm-backend"]
build-backend = "pdm.backend"
{%- elif cookiecutter.backend == "maturin" %}
requires = ["maturin>=0.12,<0.15"]
build-backend = "maturin"
{%- elif cookiecutter.backend == "hatch" %}
requires = ["hatchling"]
build-backend = "hatchling.build"
{%- elif cookiecutter.backend == "setuptools621" %}
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
{%- elif cookiecutter.backend == "flit" %}
requires = ["flit_core >=3.4"]
build-backend = "flit_core.buildapi"
{%- elif cookiecutter.backend == "setuptools" %}
requires = ["setuptools>=42", "setuptools_scm[toml]>=3.4"]
build-backend = "setuptools.build_meta"
{%- elif cookiecutter.backend == "pybind11" %}
requires = ["setuptools>=42", "setuptools_scm[toml]>=3.4", "pybind11"]
build-backend = "setuptools.build_meta"
{%- elif cookiecutter.backend == "skbuild"  %}
requires = ["pybind11", "scikit-build-core"]
build-backend = "scikit_build_core.build"
{%- elif cookiecutter.backend == "mesonpy"  %}
requires = ["pybind11", "meson-python"]
build-backend = "mesonpy"
{%- elif cookiecutter.backend == "poetry" %}
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
{%- endif %}

{%- if cookiecutter.backend in ["setuptools", "pybind11"] %}


[tool.setuptools_scm]
write_to = "src/{{ cookiecutter.__project_slug }}/_version.py"


[tool.check-manifest]
ignore = [
  ".github/**",
  "docs/**",
  ".pre-commit-config.yaml",
  ".readthedocs.yaml",
  "src/*/_version.py",
  "noxfile.py",
]

{%- elif cookiecutter.backend == "poetry" %}


[tool.poetry]
name = "{{ cookiecutter.project_name }}"
version = "0.1.0"
authors = [
  "{{ cookiecutter.full_name }} <{{ cookiecutter.email }}>",
]
{%- if cookiecutter.org == "scikit-hep" %}
maintainers = [
  "The Scikit-HEP admins <scikit-hep-admins@googlegroups.com>",
]
{%- endif %}
homepage = "{{ cookiecutter.url }}"
repository = "{{ cookiecutter.url }}"
{%- if cookiecutter.license == "BSD" %}
license = "BSD-3-Clause"
{%- elif cookiecutter.license == "Apache" %}
license = "Apache-2.0"
{%- elif cookiecutter.license == "MIT" %}
license = "MIT"
{%- endif %}
description = "{{ cookiecutter.project_short_description }}"
readme = "README.md"

classifiers = [
  "Development Status :: 1 - Planning",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Scientific/Engineering",
  "Typing :: Typed",
]

[tool.poetry.dependencies]
python = ">=3.8"
typing_extensions = { version = ">=4.6", python = "<3.11" }

furo = { version = ">=22", optional = true }
myst_parser = { version = ">=0.13", optional = true }
pytest = { version = ">=6", optional = true }
pytest-cov = { version = ">=3", optional = true }
sphinx = { version = ">=4.0", optional = true }
sphinx_copybutton = { version = ">=0.3.0", optional = true }
sphinx-autodoc-typehints = { version = "*", optional = true }

[tool.poetry.dev-dependencies]
pytest = ">= 6"
pytest-cov = ">= 3"

[tool.poetry.extras]
test = ["pytest", "pytest-cov"]
dev = ["pytest", "pytest-cov"]
docs = [
  "furo",
  "myst_parser",
  "sphinx",
  "sphinx_autodoc_typehints",
  "sphinx_copybutton",
]


{%- else %}


[project]
name = "{{ cookiecutter.project_name }}"
{%- if cookiecutter.backend not in ["trampolim", "flit", "hatch"] %}
version = "0.1.0"
{%- endif %}
authors = [
  { name = "{{ cookiecutter.full_name }}", email = "{{ cookiecutter.email }}" },
]
{%- if cookiecutter.org | lower == "scikit-hep" %}
maintainers = [
  { name = "The Scikit-HEP admins", email = "scikit-hep-admins@googlegroups.com" },
]
{%- endif %}
description = "{{ cookiecutter.project_short_description }}"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
  "Development Status :: 1 - Planning",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
{%- if cookiecutter.license == "BSD" %}
  "License :: OSI Approved :: BSD License",
{%- elif cookiecutter.license == "Apache" %}
  "License :: OSI Approved :: Apache Software License",
{%- elif cookiecutter.license == "MIT" %}
  "License :: OSI Approved :: MIT License",
{%- endif %}
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Scientific/Engineering",
  "Typing :: Typed",
]
{%- if cookiecutter.backend in ["trampolim", "flit", "hatch"] %}
dynamic = ["version"]
{%- endif %}
dependencies = [
  "typing_extensions >=4.6; python_version<'3.11'",
]

[project.optional-dependencies]
test = [
  "pytest >=6",
  "pytest-cov >=3",
]
dev = [
  "pytest >=6",
  "pytest-cov >=3",
]
docs = [
  "sphinx>=4.0",
  "myst_parser>=0.13",
  "sphinx_book_theme>=0.1.0",
  "sphinx_copybutton",
  "sphinx_autodoc_typehints",
  "furo",
]

[project.urls]
Homepage = "{{ cookiecutter.url }}"
"Bug Tracker" = "{{ cookiecutter.url }}/issues"
Discussions = "{{ cookiecutter.url }}/discussions"
Changelog = "{{ cookiecutter.url }}/releases"
{%- endif %}


{%- if cookiecutter.backend == "skbuild" %}
[tool.scikit-build]
minimum-version = "0.2"
build-dir = "build/{cache_tag}"
{%- elif cookiecutter.backend == "whey" %}
[tool.whey]
source-dir = "src"
{%- elif cookiecutter.backend == "trampolim" %}
[tool.trampolim]
module-location = "src"
{%- elif cookiecutter.backend == "hatch" %}
[tool.hatch]
version.path = "src/{{ cookiecutter.__project_slug  }}/__init__.py"
envs.default.dependencies = [
  "pytest",
  "pytest-cov",
]
{%- elif cookiecutter.backend == "pdm" %}
[tool.pdm.dev-dependencies]
devtest = ["pytest", "pytest-cov"]
{%- endif %}


[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["-ra", "--showlocals", "--strict-markers", "--strict-config"]
xfail_strict = true
filterwarnings = [
  "error",
  "ignore:(ast.Str|Attribute s|ast.NameConstant|ast.Num) is deprecated:DeprecationWarning:_pytest",
]
log_cli_level = "INFO"
testpaths = [
  "tests",
]


[tool.coverage]
run.source = ["{{ cookiecutter.__project_slug }}"]
port.exclude_lines = [
  'pragma: no cover',
  '\.\.\.',
  'if typing.TYPE_CHECKING:',
]

[tool.mypy]
files = ["src", "tests"]
python_version = "3.8"
warn_unused_configs = true
strict = true
show_error_codes = true
enable_error_code = ["ignore-without-code", "redundant-expr", "truthy-bool"]
warn_unreachable = true
disallow_untyped_defs = false
disallow_incomplete_defs = false

[[tool.mypy.overrides]]
module = "{{ cookiecutter.__project_slug  }}.*"
disallow_untyped_defs = true
disallow_incomplete_defs = true


[tool.ruff]
select = [
  "E", "F", "W", # flake8
  "B",           # flake8-bugbear
  "I",           # isort
  "ARG",         # flake8-unused-arguments
  "C4",          # flake8-comprehensions
  "EM",          # flake8-errmsg
  "ICN",         # flake8-import-conventions
  "ISC",         # flake8-implicit-str-concat
  "G",           # flake8-logging-format
  "PGH",         # pygrep-hooks
  "PIE",         # flake8-pie
  "PL",          # pylint
  "PT",          # flake8-pytest-style
  "PTH",         # flake8-use-pathlib
  "RET",         # flake8-return
  "RUF",         # Ruff-specific
  "SIM",         # flake8-simplify
  "T20",         # flake8-print
  "UP",          # pyupgrade
  "YTT",         # flake8-2020
  "EXE",         # flake8-executable
  "NPY",         # NumPy specific rules
  "PD",          # pandas-vet
]
extend-ignore = [
  "PLR",    # Design related pylint codes
  "E501",   # Line too long
]
{%- if cookiecutter.backend in ["setuptools", "pybind11", "poetry"] %}
target-version = "py38"
{%- endif %}
typing-modules = ["{{ cookiecutter.__project_slug }}._compat.typing"]
src = ["src"]
unfixable = [
  "T20",  # Removes print statements
  "F841", # Removes unused variables
]
exclude = []
flake8-unused-arguments.ignore-variadic-names = true
isort.required-imports = ["from __future__ import annotations"]

[tool.ruff.per-file-ignores]
"tests/**" = ["T20"]
"noxfile.py" = ["T20"]


[tool.pylint]
py-version = "3.8"
ignore-paths= ["src/{{ cookiecutter.__project_slug }}/_version.py"]
reports.output-format = "colorized"
similarities.ignore-imports = "yes"
messages_control.disable = [
  "design",
  "fixme",
  "line-too-long",
  "missing-module-docstring",
  "wrong-import-position",
]
