[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "{{ cookiecutter.project_name.replace("-", "_") }}"
version = "0.1.0"
authors = [
    "{{ cookiecutter.full_name }} <{{ cookiecutter.email }}>",
]
maintainers = [
    "{{ cookiecutter.maintainer }} <{{ cookiecutter.maintainer_email }}>",
]
homepage = "{{ cookiecutter.url }}"
repository = "{{ cookiecutter.url }}"
license = "BSD-3-Clause"
description = "{{ cookiecutter.project_short_description }}"
readme = "README.md"

classifiers = [
  "Topic :: Scientific/Engineering",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Development Status :: 1 - Planning",
]

[tool.poetry.dependencies]
python = ">=3.6"
numpy = ">=1.13.3"

pytest = { version = ">=6", optional = true }
sphinx = { version = "^3.0", optional = true }
sphinx_book_theme = { version = ">=0.1.0", optional = true }
sphinx_copybutton = { version = ">=0.3.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = ">= 6"

[tool.poetry.extras]
test = ["pytest"]
dev = ["pytest"]
docs = [
  "sphinx",
  "sphinx-book-theme",
  "sphinx_copybutton",
]


[tool.pytest.ini_options]
addopts = "-ra -Wd"
testpaths = ["tests"]


[tool.mypy]
files = "src"
python_version = "3.6"
warn_unused_configs = true

disallow_any_generics = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
no_implicit_reexport = true
strict_equality = true
