{%- set compiled = cookiecutter.project_type in ["pybind11", "maturin", "skbuild"] -%}
name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main
      - develop
  {%- if not compiled %}
  release:
    types:
      - published
  {%- endif %}

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --hook-stage manual --all-files
      - name: Run PyLint
        run: |
          echo "::add-matcher::$GITHUB_WORKSPACE/.github/matchers/pylint.json"
          pipx run nox -s pylint

  checks:
    name: {% raw %}Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}{% endraw %}
    runs-on: {% raw %}${{ matrix.runs-on }}{% endraw %}
    needs: [pre-commit]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.10"]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

        include:
          - python-version: pypy-3.8
            runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: {% raw %}${{ matrix.python-version }}{% endraw %}

      - name: Install package
        run: python -m pip install .[test]

      - name: Test package
        run: python -m pytest -ra --cov={{ cookiecutter.project_name }}

      - name: Upload coverage report
        uses: codecov/codecov-action@v3.1.0

  {%- if not compiled %}

  dist:
    name: Distribution build
    runs-on: ubuntu-latest
    needs: [pre-commit]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build sdist and wheel
        run: pipx run build

      - uses: actions/upload-artifact@v3
        with:
          path: dist

      {%- if cookiecutter.project_type != "trampolim" %}

      - name: Check products
        run: pipx run twine check dist/*

      {%- endif %}

      - uses: pypa/gh-action-pypi-publish@v1.5.1
        if: github.event_name == 'release' && github.event.action == 'published'
        with:
          # Remember to generate this and set it in "GitHub Secrets"
          password: {% raw %}${{ secrets.pypi_password }}{% endraw %}
          # Remove this line
          repository_url: https://test.pypi.org/legacy/
          {%- if cookiecutter.project_type == "trampolim" %}
          # Check not supported currently by twine + trampolim
          verify_metadata: false
          {%- endif %}

  {%- endif %}
