name: Cookie

on:
  workflow_call:

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint all
        run: pipx run nox -s 'lint'

  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.13"]
        runs-on: [ubuntu-latest, windows-latest, macos-latest]

        include:
          - python-version: pypy-3.10
            runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install nox
        run: uv tool install nox

      - name: Test pybind11
        run: nox -s 'tests(pybind11, novcs)' -s 'tests(pybind11, vcs)'

      - name: Test scikit-build
        run: nox -s 'tests(skbuild, novcs)' -s 'tests(skbuild, vcs)'

      - name: Test poetry
        run: nox -s 'tests(poetry, novcs)' -s 'tests(poetry, vcs)'

      - name: Test flit
        run: nox -s 'tests(flit, novcs)' -s 'tests(flit, vcs)'

      - name: Test pdm
        run: nox -s 'tests(pdm, novcs)' -s 'tests(pdm, vcs)'

      - name: Test maturin
        run: nox -s 'tests(maturin, novcs)'

      - name: Test hatch
        run: nox -s 'tests(hatch, novcs)' -s 'tests(hatch, vcs)'

      - name: Test setuptools PEP 621
        run: nox -s 'tests(setuptools, novcs)' -s 'tests(setuptools, vcs)'

      - name: Native poetry tooling
        if: matrix.python-version != 'pypy-3.10'
        run: |
          nox -s 'native(poetry, novcs)'
          nox -s 'native(poetry, vcs)'

      - name: Native pdm tooling
        run: nox -s 'native(pdm, novcs)' -s 'native(pdm, vcs)'

      - name: Activate MSVC for Meson
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Test meson-python
        run: nox -s 'tests(mesonpy, novcs)'

      - name: Compare copier template generation
        run: nox -s compare_copier

      - name: Compare cruft template generation
        run: nox -s compare_cruft

  nox:
    name: Check included Noxfile
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install nox
        run: uv tool install nox

      - name: Test pybind11
        run: |
          nox -s 'nox(pybind11, vcs)'
          nox -s 'nox(pybind11, vcs)' -- docs

      - name: Test scikit-build
        run: |
          nox -s 'nox(skbuild, vcs)'
          nox -s 'nox(skbuild, vcs)' -- docs

      - name: Test poetry
        run: |
          nox -s 'nox(poetry, novcs)'
          nox -s 'nox(poetry, novcs)' -- docs

      - name: Test flit
        run: |
          nox -s 'nox(flit, novcs)'
          nox -s 'nox(flit, novcs)' -- docs

      - name: Test pdm
        run: |
          nox -s 'nox(pdm, vcs)'
          nox -s 'nox(pdm, vcs)' -- docs

      - name: Test maturin
        run: |
          nox -s 'nox(maturin, novcs)'
          nox -s 'nox(maturin, novcs)' -- docs

      - name: Test hatch
        run: |
          nox -s 'nox(hatch, vcs)'
          nox -s 'nox(hatch, vcs)' -- docs

      - name: Test setuptools PEP 621
        run: |
          nox -s 'nox(setuptools, vcs)'
          nox -s 'nox(setuptools, vcs)' -- docs

      - name: Activate MSVC for Meson
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Test meson-python
        run: |
          nox -s 'nox(mesonpy, novcs)'
          nox -s 'nox(mesonpy, novcs)' -- docs

  dist:
    name: Distribution build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build sdist and wheel
        run: pipx run nox -s dist

      - name: Show results
        run: ls -l dist

      - uses: actions/upload-artifact@v4
        with:
          name: Packages
          path: dist

  pass:
    if: always()
    needs: [dist, nox, checks, pre-commit]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
