name: Change detection
on:
  workflow_call:
    outputs:
      run-cookie:
        description: Whether or not run the cookiecutter tests
        value: ${{ jobs.change-detection.outputs.run-cookie || false }}
      run-rr:
        description: Whether or not run the repo-review tests
        value: ${{ jobs.change-detection.outputs.run-rr || false }}

jobs:
  change-detection:
    name: Identify source changes
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      run-cookie: ${{ steps.cookie-changes.outputs.run-cookie || false }}
      run-rr: ${{ steps.rr-changes.outputs.run-rr || false }}
    steps:
      - uses: actions/checkout@v3

      - name: Changed cookie-related files
        if: github.event_name == 'pull_request'
        id: changed-cookie-files
        uses: Ana06/get-changed-files@v2.2.0
        with:
          format: "json"
          filter: |
            {{cookiecutter.project_name}}/**
            .github/workflows/ci.yml
            .github/workflows/reusable-cookie.yml
            noxfile.py
            hooks/**
            cookiecutter.json
            copier.yml
            extensions.py
      - name: Set a flag for running the tests
        if: >-
          github.event_name != 'pull_request' ||
          steps.changed-cookie-files.outputs.added_modified_renamed != '[]'
        id: cookie-changes
        run: echo "run-cookie=true" >> "${GITHUB_OUTPUT}"

      - name: Changed sp-repo-review-related files
        if: github.event_name == 'pull_request'
        id: changed-rr-files
        uses: Ana06/get-changed-files@v2.2.0
        with:
          format: "json"
          filter: |
            .github/workflows/ci.yml
            .github/workflows/reusable-rr-tests.yml
            README.md
            noxfile.py
            pyproject.toml
            src/**
            tests/**
      - name: Set a flag for running the tests
        if: >-
          github.event_name != 'pull_request' ||
          steps.changed-rr-files.outputs.added_modified_renamed != '[]'
        id: rr-changes
        run: echo "run-rr=true" >> "${GITHUB_OUTPUT}"
